.App {
  text-align: center;
}

.ContentBlock {
  height: 600px;
  width: 100%;
  color: white;
  /*To center align search bar and buttons*/
  text-align: center;
  /*To vertical align search bar and buttons*/
  /*display: table;*/
  position: relative;
}

.SearchBar {
  /*To vertical align search bar and buttons*/
  /*display: table-cell;*/
  /*vertical-align: middle;*/
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10%;
  width: 50%;
  margin: -15% 0 0 -25%;
}

.LinksBar {
  position: absolute;
  top: 65%;
  left: 50%;
  height: 10%;
  width: 50%;
  margin: -15% 0 0 -25%;
  display: flex;
}

.LinksButtonWrapper {
    margin: 15px;
    cursor: pointer;
}

.LinksButton {
  height: 44px;
  width: 44px;
}

